html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  touch-action: none;
}
input[type=range] {
  -webkit-appearance: none; 
  width: 300px;
  height: 1px;              
  background: #000000;       
  border-radius: 5px;     
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 6px;              
  height: 6px;            
  background: #000000;    
  border: none;             
  border-radius: 50%;       
  cursor: pointer;
  margin-top: 0 px;        
}

